@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page</title>
</head>
<body>
<h1>My room</h1>
<ul id="stream"></ul>

<script src="~/js/stream.js"></script>
<iframe src="http://192.168.1.150:8081/" width="640" height="480"></iframe>
</body>
</html>